body {
    background: #EEFFFC;
}


/* .container-fluid {
    text-align: center;
} */

.form-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.justify-self-center {
    text-align: center;
    justify-content: center;
}