{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('main.home', entry_id=entry.id) }}"><h2>Entry # {{ entry.id }}</h2></a>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ entry.id }}</th>
                        <td>{{ entry.item }}</td>
                        <td>{{ entry.price }}</td>
                        <td>{{ entry.category }}</td>
                        <td>{{ entry.location }}</td>
                        <td>{{ entry.date_posted.strftime('%m-%d-%Y') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}