{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center align-items-center mt-5">
    <div class="col-8 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-3 form-group form-section">
        <form class="needs-validation" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group justify-self-center">
                {{ form.email.label(class="form-label")}}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control mb-2") }}
                {% endif %}
            </div>

            <div class="form-group justify-self-center">
                {{ form.password.label(class="form-label")}}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control mb-2") }}
                {% endif %}
            </div>
            <div class="form-check justify-self-left">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <div class="form-group justify-self-center">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
            <small class="text-muted ml-2">
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </small>
        </form>
    </div>

    <div class="row justify-self-center">
        <p class="text-muted">
            Need an account? <a href="{{ url_for('users.register') }}" class="ml-2">Sign Up Now</a>
        </p>
    </div>
</div>

{% endblock content %}