{% extends "layout.html" %}
{% block content %}
<h2 class='justify-self-center'>Summary for {{ current_user.username }}</h2>


<div class="container">
    <div class="summary-panel">
        {% for category in category_sum %}
        <div class="row">
            <div class="col summary-item">
                {{ category[0] }}
            </div>
            <div class="col summary-item">
                {{ category[1] }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    {% for entry in entries %}
    <div class="entry-row row d-flex mt-1 pt-0 pb-0">
        <div class="entry-item col-1">
            <div class="cell-title">
                <p>ID</p>
            </div>
            <div class="cell-value">
                {{ entry.id }}
            </div>
        </div>
        <div class="entry-item col">
            <div class="cell-title mr-auto">
                <p>Item</p>
            </div>
            <div class="cell-value">
                {{ entry.item }}
            </div>
        </div>
        <div class="entry-item col">
            <div class="cell-title">
                <p>Price</p>
            </div>
            <div class="cell-value">
                {{ entry.price }}
            </div>
        </div>
        <div class="entry-item col cell-remove">
            <div class="cell-title">
                <p>Category</p>
            </div>
            <div class="cell-value">
                {{ entry.category }}
            </div>
        </div>
        <div class="entry-item col">
            <div class="cell-title">
                <p>Location</p>
            </div>
            <div class="cell-value">
                {{ entry.location }}
            </div>
        </div>
        <div class="entry-item col">
            <div class="cell-title">
                <p>Date</p>
            </div>
            <div class="cell-value">
                {{ entry.date_posted.strftime('%m-%d-%Y') }}
            </div>
        </div>
        <div class="entry-item col">
            <a href="{{ url_for('update_entry', entry_id=entry.id) }}" class="btn btn-warning btn-sm p-0">Update</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}